<!DOCTYPE html>
<html>
<head>
  <title>My first application angular</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"
  href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <script type="text/javascript" src="./angular-1.5.3/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <style>
  .par{
    color: 'red';
  }
  .impar{
    background: : 'blue';
  }
  </style>
</head>
<body ng-app="app">
  <div ng-controller="ParentCtrl as parentCtrl" class="container">
    {{parentCtrl.title}}
    <div ng-controller="ChildCtrl as childCtrl" class="container">
      {{childCtrl.title}}
      <label> name:
      <input type= "text" ng-model="parentCtrl.title" ng-change="parentCtrl.onChange()"/>
      <button type= "button" ng-click="parentCtrl.onClick($event)">click me
      </button>
      <!-- <div ng-show="parentCtrl.title==='Mi agenda'">
        {{parentCtrl.title}}
      </div>
      <div ng-if="parentCtrl.title === 'Mi agenda'">
        Teacher
      </div> -->
      <ul><li ng-repeat="user in parentCtrl.users"  ng-include="'miplantilla'" > <!--ng-class="{par : $even, impar: $odd}"  en cada li me crea un scope por eso no tenemos problemas con closures-->
      {{$index}}{{user.name}}: {{user.age}}
      {{$even}}
      <button type="button" ng-click="parentCtrl.saluda(user)">Saluda</button>
      </li></ul>
      <!--<div ng-include="'miplantilla'"></div>-->
    </label>

    </div>

  </div>
  <script type="text/ng-template" id="miplantilla">

    <div>
    <span>{{user.name}}</span>
    </div>

  </script>
</body>
</html>
