<!DOCTYPE html>
<html>
<head>
  <title>My first application angular</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"
  href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <script type="text/javascript" src="./angular-1.5.3/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <style>
  .par{
    color: 'red';
  }
  .impar{
    background: : 'blue';
  }
  </style>
</head>
<body ng-app="app">
  <div ng-controller="ParentCtrl as parentCtrl" class="container">
    <select ng-model="parentCtrl.formatDate"
    ng-options="item.format as item.name for item in parentCtrl.formats"
    ng-init="parentCtrl.formatDate=parentCtrl.formats[0].format"><!--iteme s lo que se guardara en el model--><!--label lo que se muestra al usuario--><!--el utlimo item es el elemento iterativo de la lista-->

    </select>
    <select ng-model="parentCtrl.numElems"
            ng-init="parentCtrl.numElems=2"
            ng-options="item as item for item in [2,5,10]"></select>

    <br>
    <label>Busqueda por nombre: <input type="text" ng-model="parentCtrl.search.name"/></label>
    <br>
    <label>Busqueda por trabajo: <input type="text" ng-model="parentCtrl.search.job"/></label>
    <table>
      <thead>
        <tr>
          <th ng-click="parentCtrl.sort === 'name'? parentCtrl.sort = '-name' : parentCtrl.sort = 'name'">Nombre</th>
          <th ng-click="parentCtrl.sort === 'age'? parentCtrl.sort = '-age' : parentCtrl.sort = 'age'">Edad</th>
          <th ng-click="parentCtrl.sort === 'date'? parentCtrl.sort = '-date' : parentCtrl.sort = 'date'">Fecha de nacimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "user in parentCtrl.users|
        filter:parentCtrl.search |
        orderBy:parentCtrl.sort |
        limitTo:parentCtrl.numElems:parentCtrl.offset">
          <td>{{user.name}}</td>
          <!--<td>{{user.age | currency:'€':1}}</td>-->
          <!-- <td>{{user.age | number:2}}</td> -->
          <td>{{user.age | number:2}}</td>
          <td>{{user.date | date:parentCtrl.formatDate}}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <button type="button" ng-click="parentCtrl.offset=i*parentCtrl.numElems" ng-repeat="i in parentCtrl.users | pagination:parentCtrl.numElems">Pagina {{i+1}}</button>
    </div>
  </div>
</body>
</html>
