<div  class="container cold-md-6">
    <select ng-model="listCtrl.formatDate"
    ng-options="item.format as item.name for item in listCtrl.formats"
    ng-init="listCtrl.formatDate=listCtrl.formats[0].format"><!--iteme s lo que se guardara en el model--><!--label lo que se muestra al usuario--><!--el utlimo item es el elemento iterativo de la lista-->

  </select>
  <select ng-model="listCtrl.numElems"
  ng-init="listCtrl.numElems=10"
  ng-options="item as item for item in [2,5,10]"></select>

  <br>
  <label>Busqueda por nombre: <input type="text" ng-model="listCtrl.search.name"/></label>
  <br>
  <label>Busqueda por trabajo: <input type="text" ng-model="listCtrl.search.job"/></label>
  <table>
    <thead>
      <tr>
        <th ng-click="listCtrl.sort === 'name'? listCtrl.sort = '-name' : listCtrl.sort = 'name'">Nombre</th>
        <th ng-click="listCtrl.sort === 'age'? listCtrl.sort = '-age' : listCtrl.sort = 'age'">Edad</th>
        <th ng-click="listCtrl.sort === 'date'? listCtrl.sort = '-date' : listCtrl.sort = 'date'">Fecha de nacimiento</th>
        <th ng-click="listCtrl.sort === 'job'? listCtrl.sort = '-job' : listCtrl.sort = 'job'">Trabajo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "user in listCtrl.users|
      filter:listCtrl.search |
      orderBy:listCtrl.sort |
      limitTo:listCtrl.numElems:listCtrl.offset">
      <td>{{user.name}}</td>
      <!--<td>{{user.age | currency:'€':1}}</td>-->
      <!-- <td>{{user.age | number:2}}</td> -->
      <td>{{user.age | number:2}}</td>
      <td>{{user.date | date:listCtrl.formatDate}}</td>
      <td>{{user.job}}</td>
      <td>
        <button type="button" ng-click="listCtrl.editUser(user)">Edit</button>
        <a ui-sref="app.user.edit({name: user.name})">Edital link</a>
        <button type="button" ng-click="listCtrl.deleteUser(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <button type="button" ng-click="listCtrl.offset=i*listCtrl.numElems" ng-repeat="i in listCtrl.users | pagination:listCtrl.numElems">Pagina {{i+1}}</button>
</div>
</div>
